body{
    background-image: url(./images/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 100vh;
    height: 100%;
    padding: 1em;
    border-bottom: 20px solid wheat;
    border-top: 20px solid wheat;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 800px;
}
.headline{
    font-family: Comic Sans MS;
    margin-bottom: 0.5em;
}
.main{
    border: 1px solid lightgray;
    margin-top:1em;
}
.tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.tabs div{
    padding:1em;
    cursor: pointer;
    font-family: Comic Sans MS;
}
#add-button{
    border:none;
    background-color: wheat;
    margin-left: 0.3em;
}
#add-button:hover{
    color:white;
    transform: scale(1.1);
}
.task-box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-left: 1em;
    height:4em;
    align-items: center;
}
.done-box{
    background-color: wheat;
}
.toggle-task{
    text-decoration: line-through;
}
#underbar{
    position: absolute;
    height: 4px;
    background-color: wheat;
    width: 48px;
    padding: 0px;
    top: 52px;
    left: 0px;
    transition: 0.5s;
}
.rotate-button{
    border: none;
    background-color: white;
    color: gray;
}
.check-button{
    border: none;
    background-color: white;
    color: green;
}
.delete-button{
    border: none;
    background-color: white;
    color: red;
}
.button-area{
    background-color: white;
    height: 100%;
    width: 6em;
    display: flex;
    justify-content: space-around;
}